/********************
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*******************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/********************
  VARIABLES
********************/

$font-sans: 'IBM Plex Sans', sans-serif;
$font-serif: 'IBM Plex Serif', serif;

$color-mono1: #20123a;
$color-mono2: #42425a;
$color-mono3: #ededf0;
$color-mono4: #f9f9fb;

$color-green0: #083f37;
$color-green1: #005e5d;
$color-green2: #068989;
$color-green3: #2bc4a2;
$color-green4: #3fe1b0;
$color-green5: #53febe;
$color-green6: #88ffd1;
$color-green7: #b3ffe3;
$color-green8: #d0ffed;
$color-green9: #e3fff3;

/********************
  TYPOGRAPHY & COLORS
********************/

body {
  color: $color-mono2;
  font-family: $font-sans;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-mono1;
  font-family: $font-serif;
  font-weight: 700;
  line-height: 1;
}

p {
  font-weight: 400;
  margin-top: 1em;
}

h1 {
  font-size: 6rem;
  letter-spacing: -0.3rem;
}

h2 {
  font-size: 5rem;
  font-style: italic;
  letter-spacing: -0.1rem;
  line-height: 1;
  margin-top: 0.25em;
}

h3 {
  font-size: 3rem;
  letter-spacing: -0.05rem;
  margin-top: 1em;
}

/********************
  MAIN BODY
********************/

body {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 50em;
  padding: 1em;
}

.section-number {
  font-size: 2rem;
  color: $color-green3;
}

/********************
  HERO
 *******************/

.hero {
  text-align: center;
}

.hero-line1 {
  margin-left: -3ch;
}

.hero-line2 {
  margin-left: -1ch;
}

.hero-line4 {
  margin-left: 2ch;
}
