@use './colors.scss' as *;

$size-l: min(50vw, 100vh);
$size-m: min(45vw, 90vh);
$size-s: min(40vw, 80vh);

.blob-l {
  background-color: $color-green5;
  border-radius: 50%;
  height: $size-l;
  position: absolute;
  right: calc($size-l/-2);
  top: calc($size-l/-2);
  width: $size-l;
  z-index: -3;
}

.blob-m {
  background-color: $color-green4;
  border-radius: 50%;
  height: $size-m;
  position: absolute;
  right: calc($size-m/-2);
  top: calc($size-m/-2);
  width: $size-m;
  z-index: -2;
}

.blob-s {
  background-color: $color-green3;
  border-radius: 50%;
  height: $size-s;
  position: absolute;
  right: calc($size-s/-2);
  top: calc($size-s/-2);
  width: $size-s;
  z-index: -1;
}
