@use './colors.scss' as *;

.splash {
  color: $color-violet-6;
  font-weight: 400;
}

.work-title {
  font-style: italic;
}

.card {
  display: flex;
  justify-content: flex-end;

  &__title {
    flex-shrink: 0;
    width: 30%;
  }

  &__items {
    flex-shrink: 4;
    margin-left: 3em;
    width: 70%;
  }

  p {
    max-width: 66ch;
  }

  p:nth-child(2) {
    margin-top: 1em;
  }

  p:nth-last-child(1) {
    margin-bottom: 0;
  }

  q {
    font-style: italic;
  }

  hr {
    margin: 3em 0;
  }
}

.headline-with-year {
  align-items: center;
  display: flex;

  &__headlines {
    margin-left: 1em;
  }

  &__year {
    background: $color-violet-7;
    border-radius: 0.25em;
    color: $color-mono-0;
    flex-shrink: 0;
    padding: 0.25em 0.5em;
  }
}

.description {
  margin-top: 1em;
}
