// BLACK AND WHITE
$color-mono-0: #ffffff;
$color-mono-1: #f9f9fb;
$color-mono-2: #ededf0;
$color-mono-3: #42425a;
$color-mono-4: #20123a;

// GREEN
$color-green-0: #d0ffed;
$color-green-1: #e3fff3;
$color-green-2: #b3ffe3;
$color-green-3: #88ffd1;
$color-green-4: #53febe;
$color-green-5: #3fe1b0;
$color-green-6: #2bc4a2;
$color-green-7: #068989;
$color-green-8: #005e5d;
$color-green-9: #083f37;
