// BLACK AND WHITE
$color-mono-0: #fcfcfc;
$color-mono-1: #f9f9fb;
$color-mono-2: #ededf0;
$color-mono-3: #575775;
$color-mono-4: #20123b;

// VIOLET
$color-violet-0: #e6dfff;
$color-violet-1: #d9bfff;
$color-violet-2: #cc9eff;
$color-violet-3: #c588ff;
$color-violet-4: #ac71ff;
$color-violet-5: #9059ff;
$color-violet-6: #7543e3;
$color-violet-7: #582acb;
$color-violet-8: #45268c;
$color-violet-9: #321c64;
