@use './colors.scss' as *;

.hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5em;

  &__navigation {
    align-items: center;
    column-gap: 1.25em;
    display: flex;
    padding: 0;

    > li {
      list-style-type: none;

      > a {
        background-color: $color-mono-0;
        border-radius: 0.25em;
        color: $color-mono-3;
        padding: 0.25em;
        text-decoration: underline solid transparent 1px;
        transition: color 0.4s ease-in-out, text-decoration 0.2s ease-in-out;

        &:hover {
          color: $color-mono-4;
          text-decoration: underline solid $color-violet-5 1px;
        }
      }
    }
  }

  &__button {
    align-items: center;
    display: flex;
    // for now we don't display it, it's there when we're ready to develop the light/dark toggle logic
    display: none;
  }
}

.icon-link {
  display: block;
  width: 1.5em;
  fill: $color-mono-3;

  &:hover {
    fill: $color-mono-4;
  }
}
