@use './reset.scss';
@use './blobs.scss';
@use './cards.scss';
@use './colors.scss' as *;
@use './fonts.scss';
@use './footer.scss';
@use './headings.scss';
@use './hero.scss';
@use './media.scss';

body {
  color: $color-mono-3;
  display: flex;
  font-size: 18px;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}

p {
  margin-bottom: 1em;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 60em;
  padding: 0.5em 0.5em 0 0.5em;
}

hr {
  background: $color-mono-1;
  border: 0;
  height: 2px;
  margin: 3em 0;
}
