@use './reset.scss';
@use './colors.scss' as *;
@use './fonts.scss' as *;
@use './blobs.scss' as *;

// === TYPOGRAPHY & COLORS ===

body {
  color: $color-mono2;
  font-family: $font-sans;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-mono1;
  font-family: $font-serif;
  font-weight: 700;
  line-height: 1;
}

p {
  font-weight: 400;
  margin-top: 1em;
}

h1 {
  font-size: 6rem;
  letter-spacing: -0.3rem;
}

h2 {
  font-size: 5rem;
  font-style: italic;
  letter-spacing: -0.1rem;
  margin-top: 0.25em;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
  margin-top: 1em;
}

// === MAIN BODY ===

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 50em;
  padding: 1em;
}

// === HERO ===

.hero {
  text-align: center;
}

.hero-line1 {
  margin-left: -3ch;
}

.hero-line2 {
  margin-left: -1ch;
}

.hero-line4 {
  margin-left: 2ch;
}
