@use './resets.scss';
@use './blobs.scss';
@use './cards.scss';
@use './colors.scss' as *;
@use './fonts.scss' as *;
@use './footer.scss';
@use './form.scss';
@use './headings.scss';
@use './hero.scss';
@use './projects.scss';
@use './sidebar.scss';
@use './mediaQueries';

body {
  background-color: $color-mono-0;
  color: $color-mono-3;
  display: flex;
  font-family: $font-sans;
  font-size: 1.25rem;
  justify-content: center;
  overflow-x: hidden;
  padding: 4em;
  position: relative;
}

p {
  margin-bottom: 1em;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 60em;
  padding: 0.5em 0.5em 0 0.5em;
}

hr {
  background: $color-mono-2;
  border: 0;
  height: 2px;
  margin: 3em 0;
}
