@media screen and (max-width: 700px) {
  .app {
    width: 100vw;
  }

  .card {
    flex-direction: column;
    padding: 0.5em;

    &__title {
      width: 100%;
      margin-bottom: 1em;
    }

    &__items {
      flex-shrink: 1;
      margin-left: 0;
      width: 100%;
    }
  }

  .project {
    &__main {
      display: flex;
      flex-direction: column;
    }

    &__image {
      margin: 1em auto;
    }

    &__links {
      flex-direction: row;
      margin-left: 0;
      column-gap: 3em;
      margin-bottom: 0.5em;
    }
  }
}
