@use './colors.scss' as *;

.project {
  &__main {
    display: flex;
  }

  &__image {
    border-radius: 0.125em;
    filter: grayscale(0.8);
    margin-top: 1em;
    transition: filter 0.5s;
    width: 250px;

    &:hover {
      filter: none;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
    row-gap: 2em;

    > a {
      border-radius: 0.125em;
      border: 1px solid transparent;
      color: inherit;
      padding: 0.25em;
      text-decoration: none;
      transition: border 0.5s;
      box-shadow: rgba(88, 42, 203, 0.4) 5px 5px,
        rgba(88, 42, 203, 0.3) 10px 10px, rgba(88, 42, 203, 0.2) 15px 15px;

      &:hover {
        border: 1px solid $color-violet-4;
        color: $color-mono-4;
      }
    }
  }

  &__description {
    margin-top: 1em;
  }
}
